/*header styles*/
.container {
    background-image: url('new-year-new-me/images/banner/banner1.png');
    background-size: 100% 100%;
    height: 100vh;

}

.header-title {
    height: 28px;
    width: 525px;
    left: 845px;
    top: 216px;
    margin-right: 80px;
    font-weight: 700;
    font-size: 65px;

}

.paragraph-title {
    width: 495px;
    height: 50px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 200px;
}

.btn-primary {
    text-align: center;
    margin-right: 80px;
    width: 160px;
    height: 64px;
    width: 160px;
    background-color: #F15B22;
    color: #FFFFFF;

}

ul li {
    list-style: none;
}

.sub-container {
    text-align: right;
    float: right;
}

/* section-container */
.section-container {
    display: flex;
}

.about-div {
    margin-right: 500px;
    margin-top: 300px;
    margin-left: 100px;
}

.img-styles {
    margin-top: 120px;
    margin-left: 100px;
}

.header-styles {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    width: 288px;
    height: 94px;
}

.paragraph-styles {
    font-weight: 400;
    font-size: 16px;
    width: 416px;
    height: 104px;
    color: #444343;
    margin-top: 20px;
}

.paragraph-div {
    height: 26px;
    width: 315px;
    color: #444343;

}

/* About-title */
.section-title {
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    margin-right: 500px;
}

.skill-container {
    display: flex;
    gap: 20px;
    margin-left: 200px;
    margin-top: 50px;
}

.skill {
    margin-left: 130px;
    margin-right: 70px;
}

.sub-skill {
    color: #737272;
}

.skill-2 {
    margin-right: 90px;
}

.sub-skill-2 {
    color: #737272;
}

.skill-3 {
    margin-right: 50px;
}

.sub-skill-3 {
    color: #737272;

}

.skill {
    margin-left: 65px;
}

.gradient-styles {

    background-image: url(../styles/new-year-new-me/images/watch.png), linear-gradient(red, yellow);
    margin-left: 200px;
    margin-right: 200px;
    width: 1000px;
    height: 150px;
}

.positive-header {
    width: 250px;
    padding-left: 20px;
    padding-top: 20px;
}

.btn-styles {
    width: 100px;
    height: 40px;
    color: #F15B22;
}

/* contact styles */

.contact {
    background-color: #151414;
}

.contact-paragraph {
    width: 450px;
    margin-left: 100px;
    font-size: 20px;
    color: #FFFFFF;
}


.ftr-header {
    margin-left: 130px;
    margin-top: 100px;
    font-size: 60px;
    color: #F8F8F8;

}

ul .eml-title {
    margin-left: 60px;
    margin-bottom: 10px;
    color: #FFFFFF;

}

ul .ph-title {
    margin-left: 60px;
    margin-bottom: 20px;
    color: #FFFFFF;


}

.img-div {
    margin-left: 60px;
    font-size: 18;
}

/* subscribe styles */
.main-subs {
    text-align: right;
}

.subs-styles {
    margin-right: 100px;
    font-size: 35px;
    color: #FFFFFF;
}

.eml-styles {
    width: 220px;
    height: 47px;
    margin-right: 20px;
    color: #F3F3F3;
    background-color: #151414;
    border: groove border;
}

.subs-button {
    width: 170px;
    height: 47px;
    margin-right: 70px;
    border: groove border;
    color: #F15B22;
}